/* ウェブフォントを使用する場合はここに定義を追加して下さい */
@font-face {
    font-family: "NotoSansJP";
    src: url("../../data/others/NotoSansJP-Regular-Sub.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
